In [60]:
import requests
import json
import pandas as pd
from pandas.io.json import json_normalize
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

#### The API checks how much energy and carbon footprint loading a webpage produces:

> Checking the websites I use the most and aggregating the results on a dataframe

In [2]:
response = requests.get('https://api.websitecarbon.com/site?url=https://github.com/')

results = response.json()
results

{'url': 'https://github.com/',
 'green': 'unknown',
 'bytes': 1362343,
 'cleanerThan': 0.63,
 'statistics': {'adjustedBytes': 1028568.965,
  'energy': 0.0007759228922892362,
  'co2': {'grid': {'grams': 0.34295791839184236,
    'litres': 0.19075319420954268},
   'renewable': {'grams': 0.2973336523252353, 'litres': 0.16537697742329582}}},
 'timestamp': 1680015697}

In [3]:
results = response.json()
flattened_data = json_normalize(results)

C:\Users\sabba\AppData\Local\Temp\ipykernel_36540\2010939351.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  flattened_data = json_normalize(results)

In [4]:
response = requests.get('https://api.websitecarbon.com/site?url=https://www.wikipedia.org/')

results = response.json()
results
results = response.json()
flattened_data2 = json_normalize(results)

C:\Users\sabba\AppData\Local\Temp\ipykernel_36540\4290023438.py:6: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  flattened_data2 = json_normalize(results)

In [5]:
response = requests.get('https://api.websitecarbon.com/site?url=https://sparkbyexamples.com/')

results = response.json()
results
results = response.json()
flattened_data3 = json_normalize(results)

C:\Users\sabba\AppData\Local\Temp\ipykernel_36540\2450472950.py:6: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  flattened_data3 = json_normalize(results)

In [6]:
response = requests.get('https://api.websitecarbon.com/site?url=https://ge.globo.com/')

results = response.json()
results
results = response.json()
flattened_data4 = json_normalize(results)

flattened_data4

C:\Users\sabba\AppData\Local\Temp\ipykernel_36540\1009613022.py:6: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  flattened_data4 = json_normalize(results)

,url,green,bytes,cleanerThan,timestamp,statistics.adjustedBytes,statistics.energy,statistics.co2.grid.grams,statistics.co2.grid.litres,statistics.co2.renewable.grams,statistics.co2.renewable.litres
0,https://ge.globo.com/,unknown,7781093,0.12,1680015759,5874725.215,0.004432,1.958822,1.089497,1.698237,0.944559

In [7]:
response = requests.get('https://api.websitecarbon.com/site?url=https://www.theguardian.com/uk')

results = response.json()
results
results = response.json()
flattened_data5 = json_normalize(results)

C:\Users\sabba\AppData\Local\Temp\ipykernel_36540\2475742265.py:6: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  flattened_data5 = json_normalize(results)

In [8]:
df_web_consuption=pd.concat([flattened_data, flattened_data2, flattened_data3, flattened_data4, flattened_data5], axis=0)
df_web_consuption

,url,green,bytes,cleanerThan,timestamp,statistics.adjustedBytes,statistics.energy,statistics.co2.grid.grams,statistics.co2.grid.litres,statistics.co2.renewable.grams,statistics.co2.renewable.litres
0,https://github.com/,unknown,1362343,0.63,1680015697,1028568.965,0.000776,0.342958,0.190753,0.297334,0.165377
0,https://www.wikipedia.org/,unknown,67849,0.98,1680015709,51225.995,0.000039,0.017080,0.009500,0.014808,0.008236
0,https://sparkbyexamples.com/,True,799539,0.83,1680015723,603651.945,0.000455,0.201277,0.111950,0.174501,0.097057
0,https://ge.globo.com/,unknown,7781093,0.12,1680015759,5874725.215,0.004432,1.958822,1.089497,1.698237,0.944559
0,https://www.theguardian.com/uk,True,4197325,0.27,1680015783,3168980.375,0.002391,1.056640,0.587703,0.916073,0.509520

> <b>Project Idea:</b> One could compile a list of the top 100 most accessed websites, check their loading pages consuption and cross reference to its web architeture/design and inspect if we can determine if there is a 'greenest' way of building a webpage.

#### API for the bored one with no much creativity. It trys to find you something to do.

In [13]:
#you can research by activity
response = requests.get('http://www.boredapi.com/api/activity/')
results = response.json()
data = json_normalize(results)
response2 = requests.get('http://www.boredapi.com/api/activity/')
results2 = response2.json()
data2 = json_normalize(results2)
response3 = requests.get('http://www.boredapi.com/api/activity/')
results3 = response3.json()
data3 = json_normalize(results3)
response4 = requests.get('http://www.boredapi.com/api/activity/')
results4 = response4.json()
data4 = json_normalize(results4)

df_bored=pd.concat([data, data2, data3, data4], axis=0)
df_bored

C:\Users\sabba\AppData\Local\Temp\ipykernel_36540\1685339466.py:4: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  data = json_normalize(results)
C:\Users\sabba\AppData\Local\Temp\ipykernel_36540\1685339466.py:7: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  data2 = json_normalize(results2)
C:\Users\sabba\AppData\Local\Temp\ipykernel_36540\1685339466.py:10: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  data3 = json_normalize(results3)
C:\Users\sabba\AppData\Local\Temp\ipykernel_36540\1685339466.py:13: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  data4 = json_normalize(results4)

,activity,type,participants,price,link,key,accessibility
0,Find a DIY to do,diy,1,0.40,,4981819,0.30
0,Create and follow a savings plan,busywork,1,0.00,,9366464,0.20
0,Donate blood at a local blood center,charity,1,0.00,https://www.redcross.org/give-blood,6509779,0.35
0,Listen to a new podcast,relaxation,1,0.05,,4124860,0.12

In [19]:
# i decided to create a for loop to iterate over responses to get 20 of them and append to a dataframe instead 
# of doing manually one by one all the time.

df_bored = pd.DataFrame()

for i in range(20):
    response = requests.get('http://www.boredapi.com/api/activity/')
    results = response.json()
    data = json_normalize(results)
    df_bored = pd.concat([df_bored, data], axis=0)
    
df_bored

,activity,type,participants,price,link,key,accessibility
0,Organize your movie collection,busywork,1,0.0,,6378359,0.00
0,Learn the periodic table,education,1,0.0,https://en.wikipedia.org/wiki/Periodic_table,3621244,0.60
0,Go on a fishing trip with some friends,social,3,0.4,,3149232,0.40
0,Make a simple musical instrument,music,1,0.4,,7091374,0.25
0,Learn the Chinese erhu,music,1,0.6,,2742452,0.40
0,Rearrange and organize your room,busywork,1,0.0,,6197243,0.15
0,Create a meal plan for the coming week,cooking,1,0.0,,3491470,0.00
0,Organize your pantry,busywork,1,0.0,,3954882,0.00
0,Bake something you've never tried before,cooking,1,0.4,,5665663,0.30
0,Donate to your local food bank,charity,1,0.5,,4150284,0.80
0,Go stargazing,relaxation,1,0.0,,8832605,0.10
0,Take a caffeine nap,relaxation,1,0.1,,5092652,0.08
0,Explore a park you have never been to before,recreational,1,0.0,,8159356,0.00
0,Volunteer at your local food bank,charity,1,0.0,,2055368,0.10
0,Volunteer and help out at a senior center,charity,1,0.0,,3920096,0.10
0,Do a jigsaw puzzle,recreational,1,0.1,https://en.wikipedia.org/wiki/Jigsaw_puzzle,8550768,1.00
0,Cook something together with someone,cooking,2,0.3,,1799120,0.80
0,Explore a park you have never been to before,recreational,1,0.0,,8159356,0.00
0,Mow your neighbor's lawn,charity,1,0.0,,1303906,0.20
0,Start a garden,recreational,1,0.3,,1934228,0.35

> <b>Business Idea:</b> Use the BORED random generation API to create a push mobile app that recommends activities to users. The app should have a built-in tracker to check whether the user accepted the recomendation or not. For the accepted activity, you can then gather data on the userÂ´s recent interests. You can then use the data for offering services/products on that interest.

### Something new