In [1]:
import requests

from bs4 import BeautifulSoup

import pandas as pd

### 1-) Create a Python list with the top ten FBI's Most Wanted names: url = 'https://www.fbi.gov/wanted/topten'

In [2]:
url='https://www.fbi.gov/wanted/topten'

response = requests.get(url)
response.status_code 

soup = BeautifulSoup(response.content, "html.parser")
#soup

In [3]:
 # copy SELECTOR

soup.select('#query-results-0f737222c5054a81a120bce207b0446a > ul > li:nth-child(1) > h3 > a')

soup.select('#query-results-0f737222c5054a81a120bce207b0446a > ul > li:nth-child(1) > h3 > a')[0].get_text()



# Selection of Names
soup.select(' h3 > a')[1].get_text()

'ALEXIS FLORES'

In [4]:
# Creating empty lists
top10= []


# Assigning the whole selection of names
num_iter = len(soup.select(' h3 > a'))



num_iter


names_list = soup.select(' h3 > a')



# iterate through the result set and retrive all the data
for i in range(num_iter):
    top10.append(names_list[i].get_text())
 
#print(title)
#print(artist)

In [5]:
# Storing it to a dataframe
top_10 = pd.DataFrame({"Name":top10})
top_10

                                Name
0            OMAR ALEXANDER CARDENAS
1                      ALEXIS FLORES
2     BHADRESHKUMAR CHETANBHAI PATEL
3         ALEJANDRO ROSALES CASTILLO
4        YULAN ADONAY ARCHAGA CARIAS
5                      RUJA IGNATOVA
6                    ARNOLDO JIMENEZ
7                MICHAEL JAMES PRATT
8  JOSE RODOLFO VILLARREAL-HERNANDEZ
9               RAFAEL CARO-QUINTERO

### 2-) Retrieve an arbitrary Wikipedia page of "Python" and create a list of links on that page: url ='https://en.wikipedia.org/wiki/Python'

In [6]:
url2='https://en.wikipedia.org/wiki/Python'

response2 = requests.get(url2)
response2.status_code 

soup2 = BeautifulSoup(response2.content, "html.parser")
#soup

In [7]:
soup2.select('#mw-content-text > div.mw-parser-output > ul:nth-child(7) > li:nth-child(1) > a')

#soup.select('#query-results-0f737222c5054a81a120bce207b0446a > ul > li:nth-child(1) > h3 > a')[0].get_text()

#soup.select(' h3 > a')[1].get_text()

In [8]:
links = []
for link in soup2.find_all('a'):
    href = link.get('href')
    if href and href.startswith('/wiki/Python'):
        links.append(href)

# Print the list of links
print(links)

['/wiki/Python', '/wiki/Python', '/wiki/Python', '/wiki/Pythonidae', '/wiki/Python_(genus)', '/wiki/Python_(mythology)', '/wiki/Python_(programming_language)', '/wiki/Python_of_Aenus', '/wiki/Python_(painter)', '/wiki/Python_of_Byzantium', '/wiki/Python_of_Catana', '/wiki/Python_Anghelo', '/wiki/Python_(Efteling)', '/wiki/Python_(Busch_Gardens_Tampa_Bay)', '/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)', '/wiki/Python_(automobile_maker)', '/wiki/Python_(Ford_prototype)', '/wiki/Python_(missile)', '/wiki/Python_(nuclear_primary)', '/wiki/Python_(codename)', '/wiki/Python_(film)', '/wiki/Python_(Monty)_Pictures']

In [9]:
links

['/wiki/Python',
 '/wiki/Python',
 '/wiki/Python',
 '/wiki/Pythonidae',
 '/wiki/Python_(genus)',
 '/wiki/Python_(mythology)',
 '/wiki/Python_(programming_language)',
 '/wiki/Python_of_Aenus',
 '/wiki/Python_(painter)',
 '/wiki/Python_of_Byzantium',
 '/wiki/Python_of_Catana',
 '/wiki/Python_Anghelo',
 '/wiki/Python_(Efteling)',
 '/wiki/Python_(Busch_Gardens_Tampa_Bay)',
 '/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)',
 '/wiki/Python_(automobile_maker)',
 '/wiki/Python_(Ford_prototype)',
 '/wiki/Python_(missile)',
 '/wiki/Python_(nuclear_primary)',
 '/wiki/Python_(codename)',
 '/wiki/Python_(film)',
 '/wiki/Python_(Monty)_Pictures']

In [10]:
url_wiki='https://en.wikipedia.org'

In [11]:
links_results = [url_wiki + link for link in links]

In [28]:
links_results

['https://en.wikipedia.org/wiki/Python',
 'https://en.wikipedia.org/wiki/Python',
 'https://en.wikipedia.org/wiki/Python',
 'https://en.wikipedia.org/wiki/Pythonidae',
 'https://en.wikipedia.org/wiki/Python_(genus)',
 'https://en.wikipedia.org/wiki/Python_(mythology)',
 'https://en.wikipedia.org/wiki/Python_(programming_language)',
 'https://en.wikipedia.org/wiki/Python_of_Aenus',
 'https://en.wikipedia.org/wiki/Python_(painter)',
 'https://en.wikipedia.org/wiki/Python_of_Byzantium',
 'https://en.wikipedia.org/wiki/Python_of_Catana',
 'https://en.wikipedia.org/wiki/Python_Anghelo',
 'https://en.wikipedia.org/wiki/Python_(Efteling)',
 'https://en.wikipedia.org/wiki/Python_(Busch_Gardens_Tampa_Bay)',
 'https://en.wikipedia.org/wiki/Python_(Coney_Island,_Cincinnati,_Ohio)',
 'https://en.wikipedia.org/wiki/Python_(automobile_maker)',
 'https://en.wikipedia.org/wiki/Python_(Ford_prototype)',
 'https://en.wikipedia.org/wiki/Python_(missile)',
 'https://en.wikipedia.org/wiki/Python_(nuclear_primary)',
 'https://en.wikipedia.org/wiki/Python_(codename)',
 'https://en.wikipedia.org/wiki/Python_(film)',
 'https://en.wikipedia.org/wiki/Python_(Monty)_Pictures']

### Display the top 10 languages by number of native speakers stored in a pandas dataframe: url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [13]:
url3='https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

response3 = requests.get(url3)
response3.status_code 

soup3 = BeautifulSoup(response3.content, "html.parser")
#soup3

> After carefully inspecting the HTML script all the table contents i.e. names of the countries which we intend to extract is under class Wikitable Sortable. So the first task is to find class ‘wikitable sortable’ in the HTML script.

In [14]:
my_table=soup3.find('table',{'class':'wikitable sortable'})

In [15]:
my_table

<table class="wikitable sortable">
<caption>Top first languages by population per <i>CIA</i><sup class="reference" id="cite_ref-CIA_8-1"><a href="#cite_note-CIA-8">[8]</a></sup>
</caption>
<tbody><tr>
<th>Rank
</th>
<th>Language
</th>
<th>Percentage<br/>of world<br/>population<br/>(2018)
</th></tr>
<tr>
<td>1</td>
<td><a href="/wiki/Mandarin_Chinese" title="Mandarin Chinese">Mandarin Chinese</a></td>
<td>12.3%
</td></tr>
<tr>
<td>2</td>
<td><a href="/wiki/Spanish_language" title="Spanish language">Spanish</a></td>
<td>6.0%
</td></tr>
<tr>
<td>3</td>
<td><a href="/wiki/English_language" title="English language">English</a></td>
<td>5.1%
</td></tr>
<tr>
<td>3</td>
<td><a class="mw-redirect" href="/wiki/Arabic_language" title="Arabic language">Arabic</a></td>
<td>5.1%
</td></tr>
<tr>
<td>5</td>
<td><a class="mw-redirect" href="/wiki/Hindi_language" title="Hindi language">Hindi</a></td>
<td>3.5%
</td></tr>
<tr>
<td>6</td>
<td><a href="/wiki/Bengali_language" title="Bengali language">Bengali</a></td>
<td>3.3%
</td></tr>
<tr>
<td>7</td>
<td><a href="/wiki/Portuguese_language" title="Portuguese language">Portuguese</a></td>
<td>3.0%
</td></tr>
<tr>
<td>8</td>
<td><a href="/wiki/Russian_language" title="Russian language">Russian</a></td>
<td>2.1%
</td></tr>
<tr>
<td>9</td>
<td><a href="/wiki/Japanese_language" title="Japanese language">Japanese</a></td>
<td>1.7%
</td></tr>
<tr>
<td>10</td>
<td><a href="/wiki/Lahnda" title="Lahnda">Western Punjabi</a></td>
<td>1.3%
</td></tr>
<tr>
<td>11</td>
<td><a href="/wiki/Javanese_language" title="Javanese language">Javanese</a></td>
<td>1.1%
</td></tr></tbody></table>

In [16]:
#Under table class ‘wikitable sortable’ we have links with country name as title.

In [17]:
#Extracting all the links within <a>.
links = my_table.findAll('a')

In [18]:
links

[<a href="#cite_note-CIA-8">[8]</a>,
 <a href="/wiki/Mandarin_Chinese" title="Mandarin Chinese">Mandarin Chinese</a>,
 <a href="/wiki/Spanish_language" title="Spanish language">Spanish</a>,
 <a href="/wiki/English_language" title="English language">English</a>,
 <a class="mw-redirect" href="/wiki/Arabic_language" title="Arabic language">Arabic</a>,
 <a class="mw-redirect" href="/wiki/Hindi_language" title="Hindi language">Hindi</a>,
 <a href="/wiki/Bengali_language" title="Bengali language">Bengali</a>,
 <a href="/wiki/Portuguese_language" title="Portuguese language">Portuguese</a>,
 <a href="/wiki/Russian_language" title="Russian language">Russian</a>,
 <a href="/wiki/Japanese_language" title="Japanese language">Japanese</a>,
 <a href="/wiki/Lahnda" title="Lahnda">Western Punjabi</a>,
 <a href="/wiki/Javanese_language" title="Javanese language">Javanese</a>]

In [19]:
#From the links, we have to extract the title which is the name of countries.

In [20]:
countries=[]
for link in links:
    countries.append(link.get('title'))
print(countries)

[None, 'Mandarin Chinese', 'Spanish language', 'English language', 'Arabic language', 'Hindi language', 'Bengali language', 'Portuguese language', 'Russian language', 'Japanese language', 'Lahnda', 'Javanese language']

In [21]:
#storing it in a dataframe
df=pd.DataFrame(countries)

In [22]:
#renaming the column
df = df.rename(columns={0: 'Language'})

In [23]:
#cleaning the languages
df['Language']=df['Language'].str.replace('language', '')

In [24]:
df

            Language
0               None
1   Mandarin Chinese
2           Spanish
3           English
4            Arabic
5             Hindi
6           Bengali
7        Portuguese
8           Russian
9          Japanese
10            Lahnda
11         Javanese

In [25]:
#getting rid of the None and making it top 10
df=df.drop([0, 11])

In [26]:
df

            Language
1   Mandarin Chinese
2           Spanish
3           English
4            Arabic
5             Hindi
6           Bengali
7        Portuguese
8           Russian
9          Japanese
10            Lahnda